.background-container{
    /* color: blue; */
    background-color: transparent; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    z-index: -10;
    position: fixed;
}
.background-container div{
    width: 100%;
    position: relative;
}
.background-container div img{
    position: absolute;
    right: 20px;
    top: -10vh;
    width: 8vw;
    height: 8vw;
    animation: moveImg 5s ease-in-out infinite;
}
@keyframes moveImg {
    0%{
        transform: translateY(110vh) rotate(0deg);
    }
    100%{
        transform: translate(-20vh) rotate(360deg);
    }
}
.background-container .delay1 img{
    animation-delay: 4s;
}
.background-container .delay2 img{
    animation-delay: 0s;
}
.background-container .delay3 img{
    animation-delay: 2s;
}
.background-container .delay4 img{
    animation-delay: 1s;
}
.background-container .delay5 img{
    animation-delay: 0s;
}
.background-container .delay6 img{
    animation-delay: 4s;
}
.background-container .delay7 img{
    animation-delay: 1s;
}
.background-container .delay8 img{
    animation-delay: 3s;
}
.background-layer{
    height: 100vh;
    width: 100vw;
    background-color: var(--background-layer-color);
    position: fixed;
    z-index: -5;
}